nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
    background-color: rgba(53,44,39,0.8);
    width:100%;
    top: 0px;
    height: 69px;
}
a {
    color: white;
}

.carritodibujo{
    width: 100%;
    color:white;
}
